BasedOnStyle: LLVM
Language: Cpp
Standard: Cpp11

ColumnLimit: 120
IndentWidth: 4
AccessModifierOffset: -4
PointerAlignment: Left
SpaceBeforeParens: Never
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
AllowShortCaseLabelsOnASingleLine: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
BinPackParameters: false
BinPackArguments: false
SortUsingDeclarations: false
BreakBeforeTernaryOperators: false

# Stop clang-format from messing with Doxygen comments
ReflowComments: false
