// Lattice configuration
{
 "sites"  : 
    	 {
      	     "0" : {
	     		 "type"	   : "p",
			 "U"	   : 2,
			 "J"	   : 0.5,
			 "Basis"   : "Spherical",
	     		 "hopping" : [
			 	 	"1" : 0.25
				     ]
		   },
	     "1" : {      
	     		 "type"	   : "s",
			 "U"       : 1,
	     		 "hopping": [
			 		"0" : 0.25
				    ]
		   }
         }
}
    

